<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Recruitment" connectionString="Data Source = (LocalDB)\\MSSQLLocalDB; AttachDbFilename = |DataDirectory|\Recruitment.mdf; Integrated Security = True"
      providerName="System.Data.SqlClient" />
    <add name="Recruitment.Properties.Settings.RecruitmentConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\Recruitment.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>